<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-light">Made by Shane Conway</p>
        <p class="m-0 text-center text-light">Follow me:
            <a href="#" class="text-muted me-auto">Returns Policy</a>
            <a href="#" class="text-muted me-auto">Refund Policy</a>
            <a href="#" class="text-muted me-auto">Some other policy</a>
            <a href="#" class="text-muted me-auto">Policyyyy</a>
        </p>
    </div>
</footer>