{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="div"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr class="text-dark">
                <h2 class="logo-font mb-4 text-dark">Thank You!</h2>
                <hr class="text-dark">
                <p class="text-dark">Thank you for your email one of our team members will be in touch with you shortly.</p>
            </div>
        </div>
    </div>
{% endblock %}