<div class="toast custom-toast rounded-0 border-top-0 fade" data-bs-autohide="false">
    <div class="arrow-up arrow-info"></div>
    <div class="w-100 toast-capper bg-info"></div>
    <div class="toast-header bg-dark text-white">
        <strong class="me-auto">Alert!</strong>
        <button type="button" class="ms-2 mb-1 btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close">
            <span aria-hidden="true"></span>
        </button>
    </div>
    <div class="toast-body bg-dark">
        {{ message }}
    </div>
</div>